*{
    padding: 0
    margin: 0
}
body, html,#app,.el-container {
  height 100%
  width 100%
}


/* CSS Document */
ul, li, ol {list-style: none;}
[class*="am-u-"] {padding-left:0rem;padding-right:0rem;}
.am-thumbnails {margin-left: 0rem;margin-right: 0rem;}
.am-thumbnail {margin-bottom:0;}
.am-thumbnails > li {padding: 0 0rem 0.2rem .2rem;}
.am-container {padding-left:0px;padding-right:0px ;}
.am-container > .am-g {margin-left: 0px;margin-right:0px ;}
img{width:100%;}
.slideall{background:#fff ;}
.smallnav img,.smallnav a,.am-g.smallnav {border:none;}
a:hover {color:#000000;}
.e-price{color:red; font-size:14px;}
.method3 img{border:none;}
.method3 li{border:none;border-left:1px #e8e8e8 solid;border-top:1px #e8e8e8 solid}
dt + dd {margin-top: 0;}
.am-slider-default{margin-bottom: 0px;}