@font-face {
  font-family: 'iconfont';  /* project id 1989910 */
  src: url('//at.alicdn.com/t/font_1989910_jvlkd4w5lf.eot');
  src: url('//at.alicdn.com/t/font_1989910_jvlkd4w5lf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1989910_jvlkd4w5lf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1989910_jvlkd4w5lf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1989910_jvlkd4w5lf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1989910_jvlkd4w5lf.svg#iconfont') format('svg');
}

.iconfont {
  font-family 'iconfont'!important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-stroke-width .2px
}

.icon-user-center:before {
  content '\e613'
}
