.navs-size{
  width: 25px
  height 25px
  display: inline-block
  vertical-align: middle
  background-position 0 0
}
.navs-cake{
  background: url("../images/navs/cake.png") no-repeat center center;
}

.navs-chocolate{
  background: url("../images/navs/chocolate.png") no-repeat center center;
}

.navs-cookies{
  background: url("../images/navs/cookies.png") no-repeat center center;
}

.navs-food{
  background: url("../images/navs/food.png") no-repeat center center;
}

.navs-jianguo{
  background: url("../images/navs/jianguo.png") no-repeat center center;
}

.navs-lobster{
  background: url("../images/navs/lobster.png") no-repeat center center;
}

.navs-luwei{
  background: url("../images/navs/luwei.png") no-repeat center center;
}

.navs-meat{
  background: url("../images/navs/meat.png") no-repeat center center;
}

.navs-sweet{
  background: url("../images/navs/sweet.png") no-repeat center center;
}

.navs-tea{
  background: url("../images/navs/tea.png") no-repeat center center;
}